{% extends 'base/base_public.html' %}

{% block  user_data %}
    
    <div id="user_info">
        <h3 id="username">Username</h3>
        <div id="edit_block">
            <a href="" id="editlink">Editar Perfil</a>
        </div>
        <ul id="data_info">
            <li class="data" id="friends_data">
               <p>Amigos</p>
            </li>
            <div class="data" id="course_data">
                <p class="units">Cursos</p>
            </div>
        </ul>
        <p id="fullname_data">Full username</p>
    </div>
{% endblock %}