<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/forgotten.css' %}">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
   <div id="general_box">
       <header>
           <h1 id="title"><a href="{% url 'login' %}" id="url_title"> MasterMate</a></h1>
       </header>
       <div id="container">
          <form method="POST" id="forgotten-form">
              <div id="instruction">
                <h4 id="firstphrase">¿Tienes problemas para entrar?</h4>
                <p id="secoundphrase">Introduce tu correo electrónico, número de teléfono o nombre de usuario y te enviaremos un enlace para que vuelvas a entrar en tu cuenta.</p>
              </div>
              <input type="search" name="search_bar" id="search_field" placeholder="email"><br>
              <input type="submit" name="search_button" id="searching" value="Search">
          </form>
       </div>
   </div>
   <footer>
       <h3>Gustavo Barrios</h3>
   </footer>
</body>
</html>