<div id="more_block">
    <ul id="settings">
        <li class="configurations" id="conf">
           <a href="{% url 'estudiantes:configurations' %}" class="set_configuration">Configuracion</a>
        </li>
        <li class="configurations" id="saved">
           <a href="" class="set_configuration">Guardadas</a>
        </li>
        <li class="configurations" id="activity">
           <a href="" class="set_configuration">Tu actividad</a>
        </li>
        <li class="configurations" id="problem">
           <a href="" class="set_configuration">Informar de un problema</a>
        </li>
        <li class="configurations" id="changelook" onclick="Night()">
           <p class="set_configuration">Cambiar Aspecto</p>
        </li>
    </ul>
 </div>