
{% load static %}
<div id="right_column">
    <link rel="stylesheet" href="{% static 'css/RColumn.css' %}">
    <div id="sec_feature">
       <ul id="recomended_menu">
          <li id="anounce" class="reco">
             <p id="recomended"></p>Cursos Recomendados</p>
          </li>
          <li id="re2" class="reco">
             <p class="recomends">secound_option</p>
          </li>
          <li id="re3" class="reco">
             <p class="recomends">thrid_option</p>
          </li>
          <li id="re4" class="reco">
             <p class="recomends">four_option</p>
          </li>
          <li id="re5" class="reco">
             <p class="recomends">five_option</p>
          </li>
       </ul>
    </div>
</div>