
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/rightColumn.css' %}">
    <title>Document</title>
</head>
<div id="right_column">
    <div id="sec_feature">
        <ul id="sec_menu">
          <li class="homework_tools" id="new_file">
             <button id="btn1" class="btns">
                <p class="objects">Redactar</p>
             </button>
          </li>
          <li id="courses" class="homework_tools">
             <button id="btn1" class="btns">
               <p class="objects">Tus-Cursos</p>
             </button>
          </li>
        </ul>
    </div>
</div>
<div id="courses_container">
    <button id="new-course"><span>New Course</span></button>
    Esto es para los cursos
</div>