.header {
    width:100vw;
    height:5em;
    background: #212f3d;
    text-align: left;
    display:flex;
    align-items: center;
    border-bottom:solid;
    border-color:#ccd1d1;
    border-width:1px;
    position:absolute;
    top:0px;
}

.pages-title {
    margin-left:75px;
}

.url_title {
    text-decoration:none;
    color: #fdfefe;
}

.sectitle {
    color:aqua;
}

.searchblock {
    width:18%;
    height:2.5em;
    background: yellowgreen;
    transform:translateX(45px);
}

.searchform{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-columns: 80% 20%;
}

.search_field1 {
    padding:8px;
}

#header-menu {
    width:max-content;
    height: fit-content;
    display:flex;
    flex-direction: row;
}

.h-parts {
    width:4em;
    height:4em;
    background:red;
    border-radius:20em;
    position:relative;
    left:600px;
}

#part1 {
    margin-right:5px;
}

#part2 {
  margin-right:5px;
}
